services:
  ferrodb:
    image: postgres:16.8
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=ferro
      - POSTGRES_USER=ferro
      - POSTGRES_DB=ferro

  ferrodb_test:
    image: postgres:16.8
    ports:
      - 5433:5432
    environment:
      - POSTGRES_PASSWORD=test
      - POSTGRES_USER=test
      - POSTGRES_DB=test